<!DOCTYPE html>
<html lang="zh_tw">
    <%- include('partials/head') %>
    <body>
        <div class="title-Placeholder"></div><!--占位-->
        <div class="main-title">
            <div class="title"><!--Title-->
                <h1>訂閱我的文章！</h1>
                <div class="indexButton"><!--indexButton是主页按钮-->
                    <a href="/subscribe" class="button1">Subscribe</a>
                </div>
            </div>
        </div>
    </body>
</html>